Bookmark Manager
<form action="/bookmarks" method="get">
  <input type="submit" value="Show all bookmarks"</input>
</form>


<form action="bookmarks/new" method="get">
  <button type="submit">Add bookmark</button>
</form>

<form action="bookmarks/update" method="get">
  <button type="submit">Update bookmark</button>
</form>
