Bookmark Manager
<form action="/bookmarks" method="get">
  <input type="submit" value="Show all bookmarks"</input>
</form>


<form action="bookmarks/new" method="get">
  <input type="submit" value="Add bookmark"</input>
</form>

<form action="bookmarks/update" method="get">
  <input type="submit" value="Update bookmark"</input>
</form>
