Bookmark Manager
<form class="" action="/bookmarks" method="get">
  <button type="submit" name="show">Show all bookmarks</button>
</form>


<form class="" action="bookmarks/new" method="get">
  <button type="submit" name="add">Add bookmark</button>
</form>
