<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark">
      <a href="http://<%= bookmark.url %>"> <%= bookmark.title %> </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE' />
      <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>
